{% extends "header.html" %}

{% block body %}
<div class="container">
    <h1>dashboard</h1>
    <!-- nav-tabs-->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
  </li>
</ul>
    <!--Nav-Content-->
<div class="tab-content" id="myTabContent">
    <!--Home-->
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    
     {% for i in APP_CONTENT["Home"] %}
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{url_for('static', filename='images/space_cats.png')}}">
    <div class="card-body">
    <h5 class="card-title">{{i[0]}} </h5>
     <p class="card-text">{{i[2]}}</p>    
    
    <a href="{{i[1]}}" class="btn btn-primary">{{i[0]}}</a> 
     
    </div>    
        
    
      </div> 
       {% endfor %}
    </div>
    <!--Profile-->
    
    <div class="tab-pane fade" id="profile-tab" role="tabpanel" aria-labelledby="profile-tab">..
        {% for i in APP_CONTENT["Profile"]%}
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{url_for('static', filename='images/space_cats.png')}}">
    <h7 class="card-title">{{i[2]}}</h7>
    <p class="card-text"{{i[2]}}></p>
    <a href="{{i[1]}}" class="btn btn-primary">{{i[0]}}</a> 
    </div>
    
         {% endfor %}
        </div>  
    
  <div class="tab-pane fade" id="profile-tab" role="tabpanel" aria-labelledby="profile-tab">...
    
        {% for i in APP_CONTENT["Contact"]%}
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{url_for('static', filename='images/space_cats.png')}}">
    <h7 class="card-title">{{i[2]}}</h7>
    <p class="card-text"{{i[2]}}></p>
    <a href="{{i[1]}}" class="btn btn-primary">{{i[0]}}</a> 
    </div>
    
    {% endfor %}
        </div>
      </div>
    </div>    
{% endblock %}